* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/Group481.png');
    background-size: cover;
}

header {
    background-image: url('img/Rectangle104.jpg');
    background-size: cover;
}

.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 39px 0;
    align-items: center;
    border-bottom: 3px solid #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.switcher {
    display: flex;
}

.switcher a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 30px;
    font-family: 'Hammersmith One', sans-serif;
}

.switch {
    width: 36px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 10px;
}

.round {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 2px;
    background-color: white;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    font-family: 'Inter', sans-serif;
}

nav a:nth-child(1) {
    font-weight: 600px;
    color: #94CFFF;
}

nav a:nth-child(2) {
    font-weight: 300px;
    color: #FFFFFF;
}

nav a:nth-child(3) {
    font-weight: 300px;
    color: #FFFFFF;
}

.button-join {
    border: 3px solid #26C7EA;
    border-radius: 35px 0 35px 0;
    background:#0B0E66;
    width: 141px;
    height: 41px;
    cursor: pointer;
    color: #26C6EA;
    font-weight: 400px;
    font-size: 20px;
    margin-right: 120px;
}

.logo {
    margin-right: 200px;
    width: 186px;
    height: 72px;
}

.insta {
    width: 30px;
    height: 30px;
}

.twitter {
    width: 34px;
    height: 30px;
}

.youtube {
    width: 50px;
    height: 30px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.p1 {
    width: 298px;
    height: 96px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 20px;
}

.p2 {
    width: 376px;
    height: 123px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 20px;
}

.main-description {
    padding-left: 204px;
    padding-top: 150px;
}

.button-clan {
    border: 3px solid #26C7EA;
    border-radius: 35px 0 35px 0;
    background:#0B0E66;
    color: #26C6EA;
    width: 260px;
    height: 80px;
    font-weight: 400px;
    font-size: 20px;
    cursor: pointer;
}

.arrow {
    padding-left: 70px;
    width: 152px;
    height: 40px;
}

